@font-face {
  font-family: "Baloon";
  src: url("../fonts/baloo-regular-webfont.woff");
}

@font-face {
  font-family: "Digital";
  src: url("../fonts/ds-digib-webfont.woff");
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/proximanova-regular-webfont.woff");
}
  /* ---------- LAYOUT ---------- */
  
  .timer-area {
    text-align: center;
    margin-bottom: 5%;
  }
  /* ---------- TIMER ---------- */
  ul#countdown li {
    display: inline-block;
    width: 125px;
    text-align: center;
  }
  ul#countdown li span {
    font-size: 7em;
    font-weight: bold;
    color: #ffffff;
    height: 108px;
    line-height: 108px;
    position: relative;
  }
  ul#countdown li p.timeRefDays,
  ul#countdown li p.timeRefHours,
  ul#countdown li p.timeRefMinutes,
  ul#countdown li p.timeRefSeconds {
    margin-top: 1em;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  body{
    font-family: "Baloon";
  }

  .l-fondo{
      background-color: #002470;
  }

  .l-fondo .row{
    margin-left: 0;
    margin-right: 0;
  }

  .l-btn-micros{
    width: 100%;
  }

  .l-btn-redes{
    width: 50px;
    margin: 10px 20px;
  }

  .l-divisor-blanco{
    height: 5px;
    background-color: #ffffff;
  }

  .l-titulo{
    color: #ffffff;
    text-align: center;
  }

  .l-botones{
    margin-top: 5%;
    margin-bottom: 12%;
  }

  .l-btn-politicas{
    width: 300px
  }

  .l-contador{
    font-family: "Digital";
    color: #ffffff;
    margin-top: 3%;
    padding: 0% 5%;
  }

  .timer-area{
    background-color: #434343;
  }
  .l-espacio-vacio{
    height: 2em;;
    width: 100%;
  }

  #countdown{
    padding-right: 40px;
  }

  .l-text{
    padding: 5% 9%;
    text-align: justify;
    font-family: 'Proxima';
  }

  .l-registro{
    padding: 0% 20%;
  }

  .l-btn-registro{
    width: 60%;
  }
  
  .l-textos-largos{
    background-color: #0464B3;
    text-align: justify;
    font-family: 'Proxima';
    padding: 2%;
  }
  .l-seccion-textos{
    padding: 0 5% 2%;
  }
  .l-subtitulo{
    font-family: 'Baloon';
  }
@media (max-width:676px){
  .l-btn-micros{
    padding: 10%;
  }
  .l-btn-politicas{
    padding: 0 10%;
    width: 100%;
  }

  ul#countdown li {
    width: 20%;
  }

  ul#countdown li span {
    font-size: 3.3em;
  }
  ul#countdown li p.timeRefDays,
  ul#countdown li p.timeRefHours,
  ul#countdown li p.timeRefMinutes,
  ul#countdown li p.timeRefSeconds {
    font-size: 1.1em;
  }

  #countdown{
    padding: 0 20px;;
  }

  .timer-area{
    width: 100%;
    
  }
}